version: 2.1

executors:
  node-executor:
    docker:
      - image: cimg/node:18.16   # official CircleCI Node.js image
    working_directory: ~/repo

jobs:
  build:
    executor: node-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps-
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          paths:
            - ./node_modules
          key: v1-deps-{{ checksum "package-lock.json" }}

  deploy:
    docker:
      - image: cimg/base:stable  # lightweight base image
    steps:
      - checkout
      - run:
          name: Install AWS CLI v2
          command: |
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
      - run:
          name: Configure AWS credentials
          command: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            aws configure set aws_session_token $AWS_SESSION_TOKEN
            aws configure set default.region $AWS_DEFAULT_REGION
      - run:
          name: Deploy to Elastic Beanstalk
          command: |
            eb init $EB_APP_NAME --platform node.js --region $AWS_DEFAULT_REGION
            eb use $EB_ENV_NAME
            eb deploy --staged --label $CIRCLE_SHA1

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
