version: 2.1

executors:
  node-executor:
    docker:
      - image: cimg/node:18.16   # official CircleCI Node.js image
    working_directory: ~/repo

jobs:
  build:
    executor: node-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps-
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          paths:
            - ./node_modules
          key: v1-deps-{{ checksum "package-lock.json" }}

  deploy:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Install AWS CLI & EB CLI
          command: |
            sudo apt-get update
            sudo apt-get install -y awscli
            pip install --upgrade --user awsebcli
            echo 'export PATH=$PATH:$HOME/.local/bin' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Configure AWS credentials
          command: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            aws configure set aws_session_token $AWS_SESSION_TOKEN
            aws configure set default.region $AWS_DEFAULT_REGION
      - run:
          name: Deploy to Elastic Beanstalk
          command: |
            eb init $EB_APP_NAME --platform node.js --region $AWS_DEFAULT_REGION
            eb use $EB_ENV_NAME   
            : "${RDS_HOST:?RDS_HOST is not set}"
            : "${RDS_USER:?RDS_USER is not set}"
            : "${RDS_PASSWORD:?RDS_PASSWORD is not set}"
            : "${RDS_DB_NAME:?RDS_DB_NAME is not set}"
            eb setenv RDS_HOST=$RDS_HOST
            eb setenv RDS_USER=$RDS_USER
            eb setenv RDS_PASSWORD=$RDS_PASSWORD
            eb setenv RDS_DB_NAME=$RDS_DB_NAME
            eb deploy --staged --label $CIRCLE_SHA1
            echo "Deployment complete."
            echo "Application URL:"
            eb status > eb_output.txt
            cat eb_output.txt

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
                - master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - main
                - master